.home {
    height: 100%;
    padding-top: 20vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    //   background: black;
    background-image: linear-gradient(to right top, #000000, #202020, #000000);
    animation: bg-animate 12s infinite alternate;
    background-size: 400%;

    h2 {
        font-family: "Nunito Sans", sans-serif;

        .hello {
            color: $secondary-color;
            font-size: 1.5em;
            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 2s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
            -o-animation: fadein 2s; /* Opera < 12.1 */
            // animation-delay: 1000ms;
            // animation: fadein 2s;
            opacity: 1;
            animation: fade 4s ease-in;
        }
        @keyframes fade {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .myname {
            // -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
            // -moz-animation: fadein 4s; /* Firefox < 16 */
            // -ms-animation: fadein 4s; /* Internet Explorer */
            // -o-animation: fadein 4s; /* Opera < 12.1 */
            opacity: 1;
            animation: fade 10s ease-in;
        }
    }

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }

    .dev-subs {
        margin-top: 2.2em;
        font-family: "Nunito Sans", sans-serif;
        font-size: 1.5rem;
        visibility: hidden;
        animation: fade 10s ease-in;
    }
    .social-icons a {
        margin-left: 1.9rem;
    }
}

#tester {
    visibility: hidden;
}

@keyframes bg-animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
