@include media-md {
    .home {
        padding-top: 10vh;
    }
    .menu-btn {
        visibility: hidden;
    }
    header {
        position: relative;
        margin: 0;
        padding: 0;
        // delete if want fixed menu bar
    }

    .nav {
        // return to fixed for fixed menu bar
        position: relative;
        visibility: visible;
        left: 0%; /* change this and width for full screen */
        width: 100vw;

        .menu-nav {
            transform: translateY(0);
            display: block;

            height: 75px;
            // background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 2.2rem;
            }

            &__link {
                font-size: 1.2rem;
                background-image: linear-gradient(
                    90deg,
                    $primary-color,
                    $secondary-color
                );
                background-size: 0% 1px;
                background-repeat: no-repeat;
                background-position: left bottom;

                &:hover {
                    background-size: 100% 1.5px;
                    @include transition-ease;
                }
            }
        }
    }

    #tester {
        // this is the name animation
        width: 60%;
        transition: all 2s;
        height: 40vh;
        margin: 2em 0;
    }

    .about__bio {
        font-size: 1.5rem;

        &-image {
            background-attachment: fixed;
            background-position: 0% 40%;
        }
    }

    .projects {
        &__bio-image {
            height: 25vh;
        }
        &-items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }

        &__others {
            width: 80%;
            max-width: 700px;
            margin-inline: auto;
        }

        &__others__grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    .contact-list {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}

@include media-lg {
    .projects {
        &__bio-image {
            height: 26vh;
        }
        &-items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }
    }
    .contact-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__bio-image {
        // height: 50vh;
        background-attachment: cover;
        background-position: 0% 30%;
        margin: 0 auto;
    }
    .bio-self {
        width: 90%;
        margin: 2em 0;
    }

    .about__bio {
        width: 80%;
        text-align: center;

        .text-secondary {
            padding-top: 3em;
        }
        p {
            width: 90%;
            margin: 0 auto;
            padding: 1em 0;
        }
    }
    #tester {
        height: 40vh;
    }
    .row {
        display: flex;
        align-items: center;

        .col {
            width: 100%;
            img {
                max-width: 70%;
            }
        }
    }
    .about .jobs {
        width: 60vw;
    }

    .project-items {
        width: 60vw;
    }
    .dev-subs {
        font-size: 2rem;
    }
}

@include media-xl {
    .projects {
        &__bio-image {
            // height: 26vh;
        }
        &-items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
