* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-secondary {
  color: #08fdd8;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
/* Internet Explorer */
/* Opera < 12.1 */
.home {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right top, #000000, #202020, #000000);
  background-size: 400%;
}
.home h2 {
  font-family: "Nunito Sans", sans-serif;
}
.home h2 .hello {
  color: #08fdd8;
  font-size: 1.5em;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  opacity: 1;
  animation: fade 4s ease-in;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home h2 .myname {
  opacity: 1;
  animation: fade 10s ease-in;
}
.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.home__name--last {
  color: #08fdd8;
  font-weight: 700;
}
.home .dev-subs {
  margin-top: 2.2em;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  visibility: hidden;
  animation: fade 10s ease-in;
}
.home .social-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#tester {
  visibility: hidden;
}

@keyframes bg-animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* Animated mouse */
.animated-mouse-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  animation: animateColor 5s linear infinite;
}

@keyframes animateColor {
  0% {
    filter: saturate(0);
  }
  50% {
    filter: saturate(1);
  }
  100% {
    filter: saturate(0);
  }
}
.animated-mouse-background span {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}

.animated-mouse-background span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125%;
  height: 125%;
  background: #08fdd8;
  box-shadow: 0 0 10px #08fdd8, 0 0 20px #08fdd8, 0 0 40px #08fdd8, 0 0 60px #08fdd8, 0 0 80px #08fdd8, 0 0 100px #08fdd8;
  border-radius: 50%;
  transition: 2s;
  transform: scale(0);
}

.animated-mouse-background span:hover::before {
  transition: 0s;
  transform: scale(1);
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  font-family: "Open Sans", sans-serif;
  transition: top 0.5s;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #1d1d1d;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #08fdd8;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #08fdd8;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}
.about__bio-image {
  width: 100%;
  background: linear-gradient(to right, rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.1)), url("https://www.transparenttextures.com/patterns/black-scales.png");
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
}
.about__bio-image p {
  margin-bottom: 2rem;
}
.about__bio {
  width: 80%;
  text-align: center;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}
.about .jobs {
  width: 90vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-family: "Open Sans", sans-serif;
}
.about .jobs__job {
  background: #373737;
  padding: 1.1rem;
  border-bottom: 5px solid #08fdd8;
  line-height: 1.5;
}
.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}
.about .jobs__job h6 {
  margin: 0.3rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.bio-self {
  width: 50%;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  margin: 2em 0;
}

.bio-text {
  line-height: 1.5;
}

.job-title {
  margin-bottom: 1em;
}

.projects {
  padding-bottom: 2rem;
}
.projects__title {
  font-size: 1.6rem;
  margin-bottom: 1em;
}
.projects__bio-image {
  height: 20vh;
  width: 100%;
  background: linear-gradient(-45deg, #178c7a, #343232, #08fdd8, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease 1;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects-items {
  max-width: 1900px;
  width: 90vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-family: "Open Sans", sans-serif;
}
.projects__item {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 5px solid #08fdd8;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgb(50, 49, 49);
  border-radius: 10px;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #08fdd8;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects__item:hover {
  filter: drop-shadow(0px 0px 5px rgb(164, 162, 162));
}
.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects__btn {
  visibility: hidden;
  color: #000;
}
.projects__btn:hover {
  color: #fff;
}
.projects .social-icons {
  display: flex;
  flex-direction: column;
}
.projects footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}
.projects__icons {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-inline: auto;
  margin-bottom: 1em;
  bottom: 10px;
  left: 20%;
}
.projects__icons--others {
  display: flex;
  justify-content: space-around;
  padding-block: 1em;
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 0;
}
.projects__desc {
  width: 90%;
  color: #08fdd8;
  margin-inline: auto;
}
.projects__tech__body {
  width: 80%;
  margin-inline: auto;
  line-height: 2;
  padding-block: 1em;
  font-style: italic;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
.projects__icons--icon {
  max-width: 30%;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(105%) contrast(99%);
}
.projects__icons--container p {
  font-size: 12px;
}

.projects__others {
  width: 90vw;
  margin-inline: auto;
  font-family: "Open Sans", sans-serif;
}
.projects__others__title {
  text-align: center;
  text-decoration: underline;
  margin-top: 2em;
}
.projects__others__title--project__titles {
  line-height: 1.5;
}
.projects__others__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.projects__others__card {
  border: 2px solid #08fdd8;
  padding: 1em;
  margin-top: 2em;
  border-radius: 10px;
  position: relative;
}
.projects__others__card__content > p {
  margin-block: 2em;
  text-align: center;
  line-height: 1.5;
}
.projects__others__card:hover {
  transform: scale(1.02);
}

.other__tech {
  word-spacing: 20px;
  font-style: italic;
  color: #08fdd8;
  padding-bottom: 3em;
  text-shadow: 1px 2px 5px grey;
}

.hide {
  display: none;
}

.dora {
  font-family: "Open Sans", sans-serif;
  padding: 10% 0;
  text-align: center;
  line-height: 1.4;
}

.jon {
  font-family: "Open Sans", sans-serif;
  padding: 10% 0;
  text-align: center;
  line-height: 1.4;
}

.blurb {
  font-family: "Open Sans", sans-serif;
  padding: 10% 0;
  text-align: center;
  line-height: 1.4;
}

.slider .projects__btn {
  visibility: visible;
}

.projects__item.special::after {
  top: 0;
  opacity: 0.9;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contact {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
  font-family: "Open Sans", sans-serif;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}
.contact .social-icons a {
  margin-left: 1rem;
}

body {
  background-color: #1d1d1d;
  color: #fff;
  height: 100vh;
  line-height: 1;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
}
main .social-icons a:hover {
  color: #08fdd8;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}

#tester {
  width: 60%;
  transition: all 2s;
  height: 200px;
  margin: 2em 0;
}

/***  Intersection observer classes ***/
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.move-right-starting {
  transform: translateX(-100%);
}

.move-right-transition {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
}

.move-right-transition.appear {
  transform: translateX(0);
  transition-delay: calc(0.255s * var(--i));
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 10vh;
  }
  .menu-btn {
    visibility: hidden;
  }
  header {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .nav {
    position: relative;
    visibility: visible;
    left: 0%; /* change this and width for full screen */
    width: 100vw;
  }
  .nav .menu-nav {
    transform: translateY(0);
    display: block;
    height: 75px;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 2.2rem;
  }
  .nav .menu-nav__link {
    font-size: 1.2rem;
    background-image: linear-gradient(90deg, #1d1d1d, #08fdd8);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .nav .menu-nav__link:hover {
    background-size: 100% 1.5px;
    transition: all 0.5s ease-in-out;
  }
  #tester {
    width: 60%;
    transition: all 2s;
    height: 40vh;
    margin: 2em 0;
  }
  .about__bio {
    font-size: 1.5rem;
  }
  .about__bio-image {
    background-attachment: fixed;
    background-position: 0% 40%;
  }
  .projects__bio-image {
    height: 25vh;
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .projects__others {
    width: 80%;
    max-width: 900px;
    margin-inline: auto;
  }
  .projects__others__grid {
    gap: 20px;
  }
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .projects__bio-image {
    height: 26vh;
  }
  .projects-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__bio-image {
    background-attachment: cover;
    background-position: 0% 30%;
    margin: 0 auto;
  }
  .bio-self {
    width: 90%;
    margin: 2em 0;
  }
  .about__bio {
    width: 80%;
    text-align: center;
  }
  .about__bio .text-secondary {
    padding-top: 3em;
  }
  .about__bio p {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
  }
  #tester {
    height: 40vh;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .row .col {
    width: 100%;
  }
  .row .col img {
    max-width: 70%;
  }
  .about .jobs {
    width: 60vw;
  }
  .project-items {
    width: 60vw;
  }
  .dev-subs {
    font-size: 2rem;
  }
  .home .social-icons {
    justify-content: flex-start;
  }
  .home .social-icons a {
    margin-left: 1.9rem;
  }
}
@media screen and (min-width: 1600px) {
  .projects-items {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */